.blog-content01 {

		// min-width: 1170px;
    width: 100%;

		&__grid-main {
       margin-top: 40px;
       display: flex;
      //  justify-content: space-between;
      // display: grid;
      // grid-template-columns: 1fr 250px;
      // grid-template-rows: auto;
      // column-gap: 5px;

      // @include sm {

      //    grid-template-columns: 1fr;
      //   }

		}

		// .blog-content__w

		&__w {
      display: flex;
      flex-direction: column;
      margin-right: 30px;
		}
    &__aside {
      max-width: 230px;
      width: 100%;
        @include sm {

         display: none;
        }
    }

		// .blog-content__grid-submain

		&__grid-submain {

       margin-top: 10px;
      display: grid;
      grid-template-columns: 130px  1fr;
      grid-template-rows: auto;
      column-gap: 5px;

      @include sm {

         grid-template-columns: 1fr;
        }
		}
    &__filters {
      margin-top: 20px;
      width: 130px;
      @include sm {

         display: none;
        }
    }
    &__content {
      margin-left: 30px;
    }
}
