.cabinet {
  margin-top: 40px;
  padding: 0 10px;
  &__title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
  }
}
.card__tab-box {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 100px;
    border-bottom: 2px solid lightgrey;
     @include xs640 {
      display: block;
    }
}
.card-tabs {


    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: #9b9ea8;

    opacity: 1;


}
.card-tabs.tab--active {


    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: black;
    opacity: 1;


}
.tab-content{
    display: none;
}
.tab-content.tab-content--active {
    display: block;

}

.card__list-item {
  display: flex;
    justify-content: space-between;
    // justify-content: flex-start;
    align-items: center;
font-family: 'Jost';
font-style: normal;
font-weight: 500;

font-size: 14px;
line-height: 22px;

color: var(--color-dark);
padding: 20px 0;
border-bottom: 0.5px solid lightgrey;
    @include xs640 {
      display: block;
    }
}
.card__list-item--title {
    font-family: 'Jost';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
text-transform: uppercase;

color: var(--color-dark);
}

.card__list-address{
width: 149px;
margin-right: 81px;
padding: 5px 0;
		}

.card__list-work{
 display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 200px;
    margin-right: 10px;
    padding: 5px 0;
		}
.card__list-work span{
 display: flex;

    justify-content: space-between;


		}

.card__list-a{
width: 120px;
margin-right: 5px;
padding: 5px 0;
		}

.card__list-n{
width: 100px;

padding: 5px 0;
  img{
    padding: 5px 0px;
  }

		}

.card__list-btn{
// margin-left: auto;
// margin: 0 auto;

		}
.card__list-btn button{
width: 120px;
height: 35px;
background-color: var(--color-dark);
border-radius: 0px;
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
border: none;

letter-spacing: 0.12em;

padding: 9px 10px;

color: #FFFFFF;
transition: all 0.3s;
      cursor: pointer;

     &:hover{
      color: var(--color-dark);
      background-color: transparent;
      border: 2px solid var(--color-dark);
      transition: all 0.3s;
      cursor: pointer;
     }
		}
.work span {
display: block;
padding-right: 10px;

}
.work {
display: flex;
justify-content: space-between;
margin-left: auto;
}
.tomato {
    background-color: tomato;
}
