.catalog-filters {
  padding-top: 30px;
  max-width: 259px;
  width: 100%;
  margin-right: 5px;
}
.catalog-content {
  min-height: 500px;
  display: flex;

}
.hide-filters {
  padding-top: 2px;
  padding-left: 25px;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  background-image: url(../../img/close.png);
  background-position: left center;
  background-repeat: no-repeat;
}
.catalog-filter {

  border-top: 2px solid #eee;
  // padding-top: 20px;
  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__title {

    margin: 0;
    display: inline-block;

    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
  }
  &__cap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__q{
    display: inline-flex;
    align-items: center;
    border-radius: 25px;
    margin-left: 5px;
    padding: 4px 5px;
    font-weight: 700;
    font-size: 10px;
    height: 16px;
    width: 16px;
    color: bisque;
    background-color: #000;
    transform: translateY(-1px);
  }
  &--open{
  .catalog-filter__bottom {
    display: block;
    padding-bottom: 30px;
      }
  .catalog-filter__toggle {
    &::before{
      display: none;
    }
  }
  }
  &__items {
    columns: 2;
  }
  &__toggle{
    position: relative;
    width: 12px;
    height: 12px;
    color: #aaa;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: currentColor;
      transform: translateX(-50%);
    }
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transform: translateY(-50%);
    }
  }
}
.custom-checkbox {
  display: inline-block;
  cursor: pointer;
  &__input{
    display: none;
    &:checked + span {
      color: #000;
          &::after{
      content: '\2713';
      position: absolute;
      left: 2px;
      top: 1px;
      display: inline-block;
    }
    &__text {
      &::before{
        border: 2px solid #000;
      }
    }

  }
}
  &__text {
    position: relative;
    color: #aaa;
    font-size: 13px;
    padding-left: 15px;
    transition: all 0.3s;

      &::before{
      content: "";
      position: absolute;
      left: 0;
      top: 4px;
      width: 11px;
      height: 11px;
      border: 2px solid #aaa;
    }
      &::after{
      content: '\2713';
      position: absolute;
      left: 2px;
      top: 1px;
      display: none;
    }
    &:hover{
      color: var(--color-dark);
      transition: all 0.3s;
    }
  }
}
.catalog-grid {
  max-width: 987px;
  width: 100%;
  padding-top: 30px;
  &__content {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    margin-bottom: 40px;

    // @include md {
    //   justify-content: space-between;
    // }
  }
    &__item{
    max-width: 250px;
    width: 100%;
    margin-right: 5px;
    margin-bottom: 80px;
    width: 18.5%;

    &:nth-child(5n){
    margin-right: 0px;
    }
    &:nth-last-child(-n+5){
    margin-right: 0px;
    }
  }
}
[data-grid-columns="3"] {
  .catalog-grid__item {
    width: 31.3%;

    &:not(:nth-child(3n)) {
      margin-right: 3%;
    }

    &:nth-last-child(-n+3) {
      margin-bottom: 0;
    }
  }
}
[data-grid-columns="4"] {
  .catalog-grid__item {
    width: 22.7%;

    &:not(:nth-child(4n)) {
      margin-right: 3%;
    }

    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }
  }
}
[data-grid-columns="5"] {
  .catalog-grid__item {
    width: 18.6%;

    &:not(:nth-child(5n)) {
      margin-right: 3%;
    }

    &:nth-last-child(-n+5) {
      margin-bottom: 0;
    }
  }
}
.catalog-props {
  &__top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
}
.catalog-columns {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  &__text{
    margin-right: 8px;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item{
    &:not(:last-child){
      margin-right: 10px;
    }
  }
  &__btn{
    font-size: 12px;
    color: var(--color-gray);
    &:hover{
      color: var(--color-dark);
    }
  &--current{
    color: var(--color-dark);
  }
  }
}
.custom-select {
  position: relative;
  min-width: 115px;
  &__top{
    position: relative;
    border-bottom: 2px solid #eee;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
     padding-bottom: 10px;
    padding-right: 10px;
    &::after{
      content: "";
      position: absolute;
      right: -15px;
      top: 30%;
      width: 10px;
      height: 6px;
      background-image: url(../../img/angle-down.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
  &__dropdown{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 20;
    width: 100%;
    padding: 5px;
    background-color: #fff;
  }
  &__item{
    cursor: pointer;
    &:not(:last-child){
      margin-bottom: 5px;
    }
  }
  &:hover {
    color: var(--color-dark);
    transition: color 0.3s;
  }
  &--open{
   .custom-select__top{
    &::after{
      transform: translateY(-50%) rotate(180deg);
    }
   }
   .custom-select__dropdown{
    display: block;
  }
}

.catalog-choice {
  display: none;
  font-size: 0;

  &__item{
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px 14px;
    font-size: 13px;
    color: var(--color-gray);
    background-color: #eee;
    transition: background-color 0.3s, color 0.3s;
  }
  &__clear {
    position: relative;
    font-weight: 500;
    font-size: 13px;
  }
   img {
      margin-left: 5px;
      // width: 8px;
      // height: 9px;
      // fill: currentColor;
      // pointer-events: none;
    }
  //  &:hover {
  //     color: var(--color-white);
  //     background-color: var(--color-dark);
  //     transition: background-color 0.3s, color 0.3s;
  //   }
}

}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  &__item{
    &:not(:last-child){
      margin-right: 10px;
    }
  }
  &__link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    color: var(--color-gray);
    border: 2px solid #eee;
    height: 40px;
    padding: 0 16px;

    &:hover{
      border: 2px solid var(--color-dark);
      background-color: var(--color-dark);
      color: var(--color-white);
      transition: all 0.3s;
    }
    &--current{
      border: 2px solid var(--color-dark);
      background-color: var(--color-dark);
      color: var(--color-white);
    }

    img {
      width: 5px;
      height: 9px;
      margin-left: 5px;
    }
  }
}
