.footer-black {
  background-color: #151515;
    &__title{
     margin-bottom: 20px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: antiquewhite;
  }
    &__phone{
    font-weight: 700;
    font-size: 10px;
    color: antiquewhite;
  }
    &__bottom {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    border-top: 1px solid #eee;
    padding: 0px 0;

  }
}
