.header {
  // position: absolute;
  // top: 0;
  // right: 0;
  // left: 0;


  width: 100%;
  height: 60px;
  z-index: 50;



    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 20px;
    padding-bottom: 20px;

      @include xs {
        width: 100%;
    }
    //   @include xs320 {
    //     width: 60%;
    // }

  &__shop-nav{
    z-index: 250;
    margin-left: 250px;
     @include md {
      margin-left: 0;
    }
  }

}
.header__container {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 background: #d9d9d7;
}
.header-grey {
  // position: absolute;
  // top: 0;
  // right: 0;
  // left: 0;


  width: 100%;
  height: 60px;
  z-index: 1;



    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d9d9d7;
      @include xs {
        width: 100%;
    }
    //   @include xs320 {
    //     width: 60%;
    // }

  &__shop-nav{
    z-index: 50;
    margin-left: 250px;
     @include md {
      margin-left: 0;
    }
  }

}
.logo {
   z-index: 50;
   display: inline-block;
    width: 117px;
    height: 22px;

  svg{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include xs {
    width: 60px;
    height: 17px;
  }
  }
.card-page {
    padding-top: 0;
  }
.burger {
  z-index: 50;
  position: relative;
  display: none;
  width: 25px;
  height: 18px;

  @include md {
    display: block;
  }
}
.nav {
  &__close {
     display: none;

    @include md {
      position: absolute;
      right: 10%;
      top: 5%;
      display: block;
    }
  }

  @include md {

    position: absolute;
    left: -150vw;
    top: 60px;
    padding: 10% 2%;
    width: 70%;
    height: 75vh;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 400;

  }
}
