.hero{
  position: relative;
  height: 100vh;
  min-height: 600px;
  background-color: #d9d9d7;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 100px;
    height: 100%;
  }
   &__title{
    margin: 0;
    margin-bottom: 20px;
    max-width: 300px;
    width: 100%;
    font-weight: 700;
    font-size: 40px;
    z-index: 1;
   }
   &__d{
    margin: 0;
    max-width: 500px;
    font-weight: 500;
    font-size: 10px;
    z-index: 1;
   }
   &__image{
    position: absolute;

    right: 0;
    bottom: 0;
    max-height: 80%;
   }
    @include xs {
   .hero__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-center;
    justify-content: center;
    padding: 0 10px;
    height: 100%;
  }
    .hero__title{
    margin: 0;
    margin-bottom: 20px;
    max-width: 200px;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    z-index: 1;
   }
    }
}
