.hero-catalog{
  padding-top: 100px;
  &__slider{
    overflow: hidden;
    width: 100%;
    background-color: #f8f8f8;
  }
}
.catalog-slide {
  position: relative;
  padding: 100px 100px;
  &__title{
    max-width: 375px;
    width: 100%;
     font-weight: 700;
    font-size: 40px;
    z-index: 10;
  }
    &__d{
    margin: 0;
    margin-bottom: 40px;
    max-width: 400px;
    font-weight: 500;
    font-size: 10px;
    color: black;
    z-index: 10;
   }
   &__btns {
    display: flex;
    align-items: center;
    z-index: 10;
   }
   &__link {
    display: inline-block;
    font-size: 12px;
    padding: 15px 45px;
    &--dark {
      border: 2px solid var(--color-dark);
      color: var(--color-white);
      background-color: var(--color-dark);
    }
    &--light {
      border: 2px solid var(--color-dark);
      color: var(--color-dark);
      background-color: transparent;
    }
    &:not(:last-child){
      margin-right: 15px;
    }
   }
   &__image{
    position: absolute;
    right: 15%;
    bottom: 0;
    max-height: 100%;
   }
}
.hero-prev-btn,
.hero-next-btn {
  position: absolute;
  left: 30px;
  top: 50%;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-dark);
  width: 48px;
  height: 48px;
  color: var(--color-dark);
  transform: translateY(-50%);
  transition: background-color 0.3s;

  svg {
    width: 40px;
    height: 20px;
    fill: currentColor;
    transition: fill 0.3s;
  }

  &:hover {
    background-color: var(--color-dark);
    transition: background-color 0.3s;

    svg {
      fill: var(--color-white);
      transition: fill 0.3s;
    }
  }
}
.hero-next-btn {
  left: auto;
  right: 30px;
}
