.nav {
  &__list{
    display: flex;
  }
  &__item{
    &:not(:last-child){
      margin-right: 40px;
    }
  }
  &__link{
    position: relative;
    &::before{
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 2px;
      background-color: #000;
      transition: width 0.15s;

    }
    &:hover{
       &::before{
      width: 100%;
      transition: width 0.15s;
     }

    }
    &--current {
     &::before{
      width: 100%;
      transition: width 0.15s;
     }

    }
  }
}
