@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500;700&display=swap");
:root {
  --font-family: "Jost", sans-serif;
  --content-width: 970px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --color-tundora: #0d1fc7;
  --color-gray: #9b9898;
  --color-dark: #000;
  --color-white: #fff;
  --color-cameo: #dbbba9;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  overflow-anchor: none;
  margin: 0;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: var(--color-dark);
  background-color: var(--color-white);
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: 1170px;
  width: 100%;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.main-link {
  position: relative;
  font-size: 15px;
  color: var(--color-dark);
}
.main-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  -webkit-transition: width 0.15s;
  -o-transition: width 0.15s;
  transition: width 0.15s;
}
.main-link--white {
  color: var(--color-white);
}
.main-link:hover::before {
  width: 100%;
  -webkit-transition: width 0.15s;
  -o-transition: width 0.15s;
  transition: width 0.15s;
}

.to-top {
  position: fixed;
  right: 2%;
  bottom: 5%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  padding: 14px 18px;
  width: 48px;
  height: 48px;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.to-top:hover {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 25px;
  right: 10px;
  overflow: hidden;
  width: 52px;
  height: 52px;
  border: none;
  text-indent: 100%;
  background: url("../img/up.png") no-repeat 0px 0px;
}

.header {
  width: 100%;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 576px) {
  .header {
    width: 80%;
  }
}
@media (max-width: 276px) {
  .header {
    width: 60%;
  }
}
.header__shop-nav {
  margin-left: 250px;
}
@media (max-width: 1200px) {
  .header__shop-nav {
    margin-left: 0;
  }
}

.logo {
  display: inline-block;
  width: 117px;
  height: 22px;
}
.logo svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 576px) {
  .logo {
    width: 60px;
    height: 17px;
  }
}

.card-page {
  padding-top: 0;
}

.burger {
  position: relative;
  display: none;
  width: 25px;
  height: 18px;
}
@media (max-width: 1200px) {
  .burger {
    display: block;
  }
}

.nav__close {
  display: none;
}
@media (max-width: 1200px) {
  .nav__close {
    position: absolute;
    right: 10%;
    top: 5%;
    display: block;
  }
}
@media (max-width: 1200px) {
  .nav {
    position: absolute;
    left: -150vw;
    top: 0;
    padding: 10% 2%;
    width: 80%;
    height: 70vh;
    background-color: #fff;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 300;
  }
}

.nav {
  z-index: 250;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1200px) {
  .nav__list {
    display: block;
  }
}
.nav__item:not(:last-child) {
  margin-right: 40px;
}
.nav__link {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-dark);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.nav__link:hover {
  color: var(--color-tundora);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1200px) {
  .nav__link {
    width: 100%;
    display: inline-block;
    padding: 20px 20px;
    border-bottom: 0px solid grey;
  }
}
@media (max-width: 768px) {
  .nav .nav {
    display: none;
  }
}
.nav--visible {
  left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.shop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 576px) {
  .shop-nav {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.shop-nav__item:not(:last-child) {
  margin-right: 25px;
}
@media (max-width: 576px) {
  .shop-nav__item:not(:last-child) {
    margin-right: 5px;
  }
}
.shop-nav__link {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3;
  -o-transition: all 0.3;
  transition: all 0.3;
}
.shop-nav__link:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3;
  -o-transition: all 0.3;
  transition: all 0.3;
}
.shop-nav__link--user {
  background-image: url(../../img/user.png);
}

.cart {
  width: auto;
  height: auto;
}
.cart__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../img/bag.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cart__quantity {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 25px;
  padding: 3px 5px;
  font-weight: 700;
  font-size: 10px;
  height: 16px;
  color: bisque;
  background-color: #000;
}

.search-form__btn {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../img/search.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3;
  -o-transition: all 0.3;
  transition: all 0.3;
}
.search-form__btn:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3;
  -o-transition: all 0.3;
  transition: all 0.3;
}

.quantity {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 25px;
  padding: 0 5px;
  height: 16px;
  font-weight: 700;
  font-size: 10px;
  color: var(--color-white);
  background-color: var(--color-dark);
}

.hero {
  position: relative;
  height: 100vh;
  min-height: 600px;
  background-color: #d9d9d7;
}
.hero__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 100px;
  height: 100%;
}
.hero__title {
  margin: 0;
  margin-bottom: 20px;
  max-width: 300px;
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  z-index: 1;
}
.hero__d {
  margin: 0;
  max-width: 500px;
  font-weight: 500;
  font-size: 10px;
  z-index: 1;
}
.hero__image {
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 80%;
}
@media (max-width: 576px) {
  .hero .hero__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: flex-center;
    -ms-flex-align: flex-center;
    align-items: flex-center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 10px;
    height: 100%;
  }
  .hero .hero__title {
    margin: 0;
    margin-bottom: 20px;
    max-width: 200px;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    z-index: 1;
  }
}

.banners__container {
  padding: 30px 0;
}
.banners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .banners__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.banners__item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 33%;
}
.banners__item:not(:last-child) {
  margin-right: 0.5%;
}
@media (max-width: 768px) {
  .banners__item {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }
}

.banners-article {
  padding: 40px 40px;
  padding-right: 45%;
  min-height: 190px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #a7a4a4;
}
.banners-article--mid {
  background-image: url(../../img/mid400.jpg);
}
.banners-article--summer {
  background-image: url(../../img/summer400.jpg);
}
.banners-article--accs {
  background-image: url(../../img/accs400.jpg);
}
.banners-article__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 26px;
}

.product {
  position: relative;
}
.product__image {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.product__image img {
  max-height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product__sale {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 20;
  border: 2px solid var(--color-dark);
  padding: 4px 10px;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  color: #111;
}
.product__title {
  margin: 0;
  margin-bottom: 5px;
  color: darkslategray;
  font-size: 12px;
}
.product__price {
  margin: 0;
  color: rgb(25, 28, 28);
  font-size: 12px;
  font-weight: 700;
}
.product:hover .product__image img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.product:hover .product-custom__price {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.product:hover .product-custom__cart {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.product-custom {
  overflow: hidden;
  height: 18px;
}
.product-custom__price {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.product-custom__card {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.product-custom .to-cart {
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
}
.product-custom__cart {
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.main-products__container {
  padding: 30px 0;
}
.main-products__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}
.main-products__btn-center {
  text-align: center;
}
.main-products__item {
  margin: 0 15px;
}
.main-products__more {
  max-width: 170px;
  width: 100%;
  height: 41px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #626265;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-products__more:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #456577;
}
.main-products__btn {
  font-size: 13px;
  font-weight: 700;
  color: var(--color-tundora);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-products__btn:hover {
  color: var(--color-dark);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-products__btn--current::before {
  width: 100%;
  -webkit-transition: width 0.15s;
  -o-transition: width 0.15s;
  transition: width 0.15s;
}

.products-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.products-grid__item {
  max-width: 250px;
  width: 100%;
  margin-right: 5px;
  margin-bottom: 80px;
  width: 18.5%;
}
.products-grid__item:nth-child(5n) {
  margin-right: 1px;
}
.products-grid__item:nth-last-child(-n+5) {
  margin-right: 1px;
}

.shop-banners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.shop-banner {
  padding-top: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  padding: 40px;
  min-height: 300px;
  color: var(--color-white);
  background-color: var(--color-dark);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.shop-banner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(128, 0, 0, 0.1);
}
.shop-banner--man {
  background-image: url(../../img/banner01.jpg);
}
.shop-banner--woman {
  background-image: url(../../img/banner02.jpg);
}

.free-delivery {
  position: relative;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: antiquewhite;
  background-color: #000;
}
.free-delivery__btn {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero-catalog {
  padding-top: 100px;
}
.hero-catalog__slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #f8f8f8;
}

.catalog-slide {
  position: relative;
  padding: 100px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 768px) {
  .catalog-slide {
    padding: 20px 100px;
  }
}
.catalog-slide__title {
  max-width: 375px;
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  z-index: 10;
}
.catalog-slide__d {
  margin: 0;
  margin-bottom: 40px;
  max-width: 400px;
  font-weight: 500;
  font-size: 10px;
  color: black;
  z-index: 10;
}
.catalog-slide__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 10;
}
.catalog-slide__link {
  display: inline-block;
  font-size: 12px;
  padding: 15px 45px;
  margin-top: 10px;
}
.catalog-slide__link--dark {
  border: 2px solid var(--color-dark);
  color: var(--color-white);
  background-color: var(--color-dark);
}
.catalog-slide__link--dark:hover {
  border: 2px solid var(--color-dark);
  color: var(--color-dark);
  background-color: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.catalog-slide__link--light {
  border: 2px solid var(--color-dark);
  color: var(--color-dark);
  background-color: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.catalog-slide__link--light:hover {
  border: 2px solid var(--color-dark);
  color: var(--color-white);
  background-color: var(--color-dark);
}
.catalog-slide__link:not(:last-child) {
  margin-right: 15px;
}
.catalog-slide__image {
  position: absolute;
  right: 15%;
  bottom: 0;
  max-height: 100%;
  z-index: -1;
}

.hero-prev-btn {
  position: absolute;
  left: 10px;
  top: 50%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid var(--color-dark);
  width: 48px;
  height: 48px;
  color: var(--color-dark);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.hero-prev-btn svg {
  width: 40px;
  height: 20px;
  background-image: url(../../img/prev-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hero-prev-btn:hover {
  background-color: var(--color-white);
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.hero-next-btn {
  position: absolute;
  left: 10px;
  top: 50%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid var(--color-dark);
  width: 48px;
  height: 48px;
  color: var(--color-dark);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.hero-next-btn svg {
  width: 40px;
  height: 20px;
  background-image: url(../../img/next-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hero-next-btn:hover {
  background-color: var(--color-white);
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.hero-next-btn {
  left: auto;
  right: 10px;
}

.hero-pag {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  text-align: center;
}
.hero-pag .swiper-pagination-bullet {
  border-radius: 0;
  margin: 0 5px !important;
  opacity: 1;
  width: 16px;
  height: 6px;
  border: none;
  background-color: #c3bbbb;
}
.hero-pag .swiper-pagination-bullet-active {
  position: relative;
  background-color: var(--color-dark);
  opacity: 1;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 0;
  border-bottom: 2px solid #eee;
}
.breadcrumbs__item {
  position: relative;
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 30px;
}
.breadcrumbs__item::after {
  color: rgb(203, 216, 216);
  content: "/";
  position: absolute;
  right: -20px;
  top: 0;
}
.breadcrumbs__link {
  color: rgb(203, 216, 216);
  font-size: 12px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.breadcrumbs__link:hover {
  color: var(--color-gray);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.breadcrumbs__link--current {
  color: var(--color-tundora);
}

.catalog-filters {
  padding-top: 30px;
  max-width: 259px;
  width: 100%;
  margin-right: 5px;
}

.catalog-content {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hide-filters {
  padding-top: 2px;
  padding-left: 25px;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  background-image: url(../../img/close.png);
  background-position: left center;
  background-repeat: no-repeat;
}

.catalog-filter {
  border-top: 2px solid #eee;
}
.catalog-filter__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.catalog-filter__title {
  margin: 0;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.catalog-filter__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.catalog-filter__quantity {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 25px;
  margin-left: 5px;
  padding: 4px 5px;
  font-weight: 700;
  font-size: 10px;
  height: 16px;
  width: 16px;
  color: bisque;
  background-color: #000;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
}
.catalog-filter__items {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}
.catalog-filter__toggle {
  position: relative;
  width: 12px;
  height: 12px;
  color: #aaa;
}
.catalog-filter__toggle::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: currentColor;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.catalog-filter__toggle::after {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.catalog-filter--open .catalog-filter__bottom {
  display: block;
}
.catalog-filter--open .catalog-filter__toggle::before {
  display: none;
}

.custom-checkbox {
  display: inline-block;
  cursor: pointer;
}
.custom-checkbox__input {
  display: none;
}
.custom-checkbox__input:checked + span {
  color: #000;
}
.custom-checkbox__input:checked + span::after {
  content: "✓";
  position: absolute;
  left: 2px;
  top: 1px;
  display: inline-block;
}
.custom-checkbox__text::before {
  border: 2px solid #000;
}
.custom-checkbox__text {
  position: relative;
  color: #aaa;
  font-size: 13px;
  padding-left: 15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.custom-checkbox__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 11px;
  border: 2px solid #aaa;
}
.custom-checkbox__text::after {
  content: "✓";
  position: absolute;
  left: 2px;
  top: 1px;
  display: none;
}
.custom-checkbox__text:hover {
  color: var(--color-dark);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.custom-checkbox__text--blue::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 11px;
  border: 2px solid #aaa;
  background-color: #023549;
}
.custom-checkbox__text--blue:checked + span {
  color: #000;
}
.custom-checkbox__text--blue:checked + span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 11px;
  border: 2px solid #aaa;
  background-color: #023549;
}
.custom-checkbox__text--blue:checked + span::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 1px;
  display: inline-block;
  background-image: url(../../img/checkmark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.custom-checkbox__text--blue::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 11px;
  border: 2px solid #aaa;
  background-color: #023549;
}
.custom-checkbox__text--blue::after {
  content: "✓";
  position: absolute;
  left: 2px;
  top: 1px;
  display: none;
}
.custom-checkbox__text--red:checked + span {
  color: #000;
}
.custom-checkbox__text--red:checked + span::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 1px;
  display: block;
  background-image: url(../../img/checkmark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.custom-checkbox__text--red::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 11px;
  border: 2px solid #aaa;
  background-color: red;
}
.custom-checkbox__text--orange::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 11px;
  border: 2px solid #aaa;
  background-color: orange;
}
.custom-checkbox__text--orange:checked + span {
  color: #000;
}
.custom-checkbox__text--orange:checked + span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 11px;
  border: 2px solid #aaa;
  background-color: orange;
}
.custom-checkbox__text--orange:checked + span::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 1px;
  display: inline-block;
  background-image: url(../../img/checkmark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.custom-checkbox__text--orange::after {
  content: "✓";
  position: absolute;
  left: 2px;
  top: 1px;
  display: none;
}
.custom-checkbox__text--green:checked + span {
  color: #000;
}
.custom-checkbox__text--green:checked + span::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 1px;
  display: block;
  background-image: url(../../img/checkmark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.custom-checkbox__text--green::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 11px;
  border: 2px solid #aaa;
  background-color: rgb(38, 89, 38);
}
.custom-checkbox__text--black::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 11px;
  border: 2px solid #aaa;
  background-color: black;
}
.custom-checkbox__text--black:checked + span {
  color: #000;
}
.custom-checkbox__text--black:checked + span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 11px;
  border: 2px solid #aaa;
  background-color: black;
}
.custom-checkbox__text--black::after {
  content: "✓";
  position: absolute;
  left: 2px;
  top: 1px;
  display: none;
}
.custom-checkbox__text--brown:checked + span {
  color: #000;
}
.custom-checkbox__text--brown:checked + span::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 1px;
  display: block;
  background-image: url(../../img/checkmark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.custom-checkbox__text--brown::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 11px;
  border: 2px solid #aaa;
  background-color: brown;
}
.custom-checkbox__text--purple::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 11px;
  border: 2px solid #aaa;
  background-color: rgb(87, 2, 87);
}
.custom-checkbox__text--purple:checked + span {
  color: #000;
}
.custom-checkbox__text--purple:checked + span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 11px;
  border: 2px solid #aaa;
  background-color: purple;
}
.custom-checkbox__text--purple:checked + span::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 1px;
  display: inline-block;
  background-image: url(../../img/checkmark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.custom-checkbox__text--purple::after {
  content: "✓";
  position: absolute;
  left: 2px;
  top: 1px;
  display: none;
}
.custom-checkbox__text--grey:checked + span {
  color: #000;
}
.custom-checkbox__text--grey:checked + span::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 1px;
  display: block;
  background-image: url(../../img/checkmark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.custom-checkbox__text--grey::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 11px;
  border: 2px solid #aaa;
  background-color: grey;
}
.custom-checkbox__text--maroon:checked + span {
  color: #000;
}
.custom-checkbox__text--maroon:checked + span::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 1px;
  display: block;
  background-image: url(../../img/checkmark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.custom-checkbox__text--maroon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 11px;
  border: 2px solid #aaa;
  background-color: rgb(82, 47, 47);
}

.catalog-grid {
  max-width: 987px;
  width: 100%;
  padding-top: 30px;
}
.catalog-grid__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.catalog-grid__item {
  max-width: 250px;
  width: 100%;
  margin-right: 5px;
  margin-bottom: 80px;
  width: 18.5%;
}
.catalog-grid__item:nth-child(5n) {
  margin-right: 0px;
}
.catalog-grid__item:nth-last-child(-n+5) {
  margin-right: 0px;
}

[data-grid-columns="3"] .catalog-grid__item {
  width: 31.3%;
}
[data-grid-columns="3"] .catalog-grid__item:not(:nth-child(3n)) {
  margin-right: 3%;
}
[data-grid-columns="3"] .catalog-grid__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

[data-grid-columns="4"] .catalog-grid__item {
  width: 22.7%;
}
[data-grid-columns="4"] .catalog-grid__item:not(:nth-child(4n)) {
  margin-right: 3%;
}
[data-grid-columns="4"] .catalog-grid__item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

[data-grid-columns="5"] .catalog-grid__item {
  width: 18.6%;
}
[data-grid-columns="5"] .catalog-grid__item:not(:nth-child(5n)) {
  margin-right: 3%;
}
[data-grid-columns="5"] .catalog-grid__item:nth-last-child(-n+5) {
  margin-bottom: 0;
}

.catalog-props__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
}
.catalog-columns__text {
  margin-right: 8px;
}
.catalog-columns__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.catalog-columns__item:not(:last-child) {
  margin-right: 10px;
}
.catalog-columns__btn {
  font-size: 12px;
  color: var(--color-gray);
}
.catalog-columns__btn:hover {
  color: var(--color-dark);
}
.catalog-columns__btn--current {
  color: var(--color-dark);
}

.custom-select {
  position: relative;
  min-width: 115px;
}
.custom-select__top {
  position: relative;
  border-bottom: 2px solid #eee;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-right: 10px;
}
.custom-select__top::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 30%;
  width: 10px;
  height: 6px;
  background-image: url(../../img/angle-down.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.custom-select__dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  width: 100%;
  padding: 5px;
  background-color: #fff;
}
.custom-select__item {
  cursor: pointer;
}
.custom-select__item:not(:last-child) {
  margin-bottom: 5px;
}
.custom-select:hover {
  color: var(--color-dark);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.custom-select--open .custom-select__top::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.custom-select--open .custom-select__dropdown {
  display: block;
}

.catalog-choice {
  display: none;
  font-size: 0;
}
.catalog-choice__item {
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px 14px;
  font-size: 13px;
  color: var(--color-gray);
  background-color: #eee;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.catalog-choice__item svg {
  margin-left: 5px;
  width: 8px;
  height: 9px;
  fill: currentColor;
  pointer-events: none;
}
.catalog-choice__item:hover {
  color: var(--color-white);
  background-color: var(--color-dark);
  -webkit-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.catalog-choice__clear {
  position: relative;
  font-weight: 500;
  font-size: 13px;
}
.catalog-choice__clear::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  opacity: 1;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.pagination__item:not(:last-child) {
  margin-right: 10px;
}
.pagination__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  color: var(--color-gray);
  border: 2px solid #eee;
  height: 40px;
  padding: 0 16px;
}
.pagination__link:hover {
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  color: var(--color-white);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.pagination__link--current {
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  color: var(--color-white);
}
.pagination__link img {
  width: 5px;
  height: 9px;
  margin-left: 5px;
}

.sizes-table {
  border-collapse: collapse;
  width: 80%;
}
.sizes-table caption {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

td {
  cursor: pointer;
  border: 2px solid var(--color-cameo);
  padding: 3px 5px;
  font-size: 12px;
  text-align: center;
  color: var(--color-gray);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
td:hover {
  color: var(--color-dark);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
td:selected {
  color: var(--color-dark);
}

.card-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card-slider__thumbs {
  cursor: pointer;
}
.card-slider__thumbs:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .card-slider__thumbs {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
  }
}
.card-slider__thumb {
  cursor: pointer;
}
.card-slider__thumb img {
  pointer-events: none;
}
.card-slider__thumb:not(:last-child) {
  margin-bottom: 0px;
}
@media (max-width: 576px) {
  .card-slider__thumb {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: 0px;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card-slider__thumb:not(:last-child) {
    margin-right: 5px;
  }
}
.card-slider__main {
  margin-left: 10px;
  width: 686px;
}
.card-slider__main img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 576px) {
  .card-slider__main {
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .card-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

.card {
  padding-top: 60px;
}

.card-content {
  padding-top: 20px;
}
.card-content__bottom {
  padding-top: 70px;
}

.card-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 576px) {
  .card-top .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.card-top__left {
  width: 57%;
}
@media (max-width: 576px) {
  .card-top__left {
    width: 100%;
  }
}
.card-top__right {
  padding-top: 30px;
  padding-left: 3%;
  width: 43%;
}
@media (max-width: 576px) {
  .card-top__right {
    width: 100%;
  }
}

.card-info__prop {
  margin-bottom: 15px;
}
.card-info__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
}
.card-info__rate {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-gray);
}

.card-info__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.card-info__current {
  margin-right: 20px;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-dark);
}
.card-info__old {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-gray);
  text-decoration: line-through;
}
.card-info__descr {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 12px;
  color: var(--color-tundora);
}
.card-info__stepper {
  margin-bottom: 10px;
}
.card-info__btn {
  margin-bottom: 10px;
  width: 100%;
  height: 58px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--color-dark);
  background-color: #f2f2f2;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
.card-info__btn:hover {
  color: var(--color-white);
  background-color: var(--color-dark);
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
.card-info__btn--tocart {
  color: var(--color-white);
  background-color: var(--color-dark);
}
.card-info__btn--tocart:hover {
  color: var(--color-dark);
  background-color: #f2f2f2;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.color-select {
  margin-bottom: 10px;
}
.color-select__selected {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--color-gray);
}
.color-select__selected span {
  color: var(--color-dark);
}
.color-select__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 5px;
}
.color-select__item:not(:last-child) {
  margin-right: 10px;
}
.color-select__btn {
  position: relative;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  margin: 5px 0;
  cursor: pointer;
}
.color-select__btn::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid grey;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.color-select__btn:hover::before {
  border: 2px solid black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.color-select__btn__btn--active::before {
  border: 2px solid black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.size-select {
  margin-bottom: 40px;
}
.size-select__selected {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--color-gray);
}
.size-select__selected span {
  color: var(--color-dark);
}
.size-select__clear {
  display: none;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  color: #d24242;
}
.size-select__clear img {
  margin-top: 2px;
  margin-right: 5px;
  width: 8px;
  height: 8px;
  color: currentColor;
}
.size-select__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 2px;
  margin-bottom: 7px;
}
.size-select__item:not(:last-child) {
  margin-right: 5px;
}
.size-select__btn {
  position: relative;
  color: var(--color-gray);
  width: 40px;
  height: 30px;
  font-size: 12px;
  cursor: pointer;
  margin: 3px 0;
}
.size-select__btn::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 15px;
  border: 2px solid grey;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.size-select__btn:hover {
  color: var(--color-dark);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.size-select__btn:hover::before {
  border: 2px solid black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.size-select__btn__btn--active::before {
  border: 2px solid black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.stepper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #ccc;
  height: 58px;
}
.stepper__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 44px;
  height: 100%;
}
.stepper__btn svg {
  display: block;
  width: 12px;
  height: 12px;
  fill: var(--color-gray);
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}
.stepper__btn:hover svg {
  fill: var(--color-dark);
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}
.stepper__btn--disabled {
  opacity: 0.4;
  pointer-events: none;
}
.stepper__input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: none;
  height: 100%;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-dark);
}

.card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}
.card-bottom span {
  color: var(--color-gray);
}
.card-bottom__item {
  margin-bottom: 5px;
}
.card-bottom__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
}
.card-bottom__social span {
  margin-right: 13px;
}

.card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.card-description__right {
  padding-top: 21px;
  padding-right: 120px;
  padding-left: 125px;
  width: 84%;
}
@media (max-width: 576px) {
  .card-description__right {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
  }
}
.card-description__left {
  padding-top: 30px;
  width: 16%;
}
@media (max-width: 576px) {
  .card-description__left {
    width: 100%;
  }
}
.card-description__navigation {
  padding: 23px 0;
  width: 100%;
  max-height: 210px;
}
.card-description__item:not(:last-child) {
  margin-bottom: 50px;
}
.card-description__link {
  font-weight: 700;
  font-size: 10px;
  color: var(--color-gray);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.card-description__link:hover {
  color: var(--color-dark);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.card-description__link--active {
  color: var(--color-dark);
  pointer-events: none;
}
.card-description__content {
  display: none;
}
.card-description__content p {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
}
.card-description__content--active {
  display: block;
}
.card-description .simplebar-track.simplebar-vertical {
  width: 3px;
  background-color: #ccc;
}
.card-description .simplebar-scrollbar::before {
  left: 0;
  right: 0;
  border-radius: 0;
  width: 3px;
  height: 100%;
  background-color: var(--color-dark);
  opacity: 1;
}
@media (max-width: 576px) {
  .card-description {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.card-related {
  padding-top: 40px;
}
.card-related__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
}
.card-related__slider {
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
}

.related-pag {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  text-align: center;
}
.related-pag .swiper-pagination-bullet {
  border-radius: 0;
  margin: 0 5px !important;
  opacity: 1;
  width: 16px;
  height: 6px;
  border: none;
  background-color: #c3bbbb;
}
.related-pag .swiper-pagination-bullet-active {
  position: relative;
  background-color: var(--color-dark);
  opacity: 1;
}

.footer__content {
  padding: 0 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.footer__item:not(:last-child) {
  margin-bottom: 10px;
}
.footer__column:nth-child(1) {
  min-width: 250px;
}
.footer__column:nth-child(2) {
  min-width: 150px;
  margin-left: -50px;
}
.footer__link {
  color: var(--color-gray);
  font-weight: 500;
  font-size: 12px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__link:hover {
  color: var(--color-dark);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  color: var(--color-tundora);
}
.footer__form {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 500px;
  width: 100%;
}
.footer__list--row {
  font-weight: 500;
  font-size: 12px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__list--row .footer__item {
  margin-bottom: 0;
  color: black;
}
.footer__list--row .footer__item:not(:last-child) {
  margin-right: 30px;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 2px solid #eee;
  padding: 20px 0;
}
.footer__social {
  margin-right: 10px;
}
@media (max-width: 576px) {
  .footer .footer__column:nth-child(1) {
    max-width: 250px;
    width: 100%;
    margin-left: 5px;
  }
  .footer .footer__column:nth-child(2) {
    max-width: 250px;
    width: 100%;
    margin-left: 5px;
  }
  .footer .footer__right {
    margin-top: 10px;
  }
  .footer .footer__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--color-tundora);
  }
  .footer .footer__content {
    padding: 0 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.subscribe-form {
  position: relative;
}
.subscribe-form__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
}
.subscribe-form__btn {
  position: absolute;
  right: 0;
  bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}
.subscribe-form__field {
  display: block;
  width: 100%;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
}
.subscribe-form input {
  width: 100%;
  border: none;
  font-size: 14px;
  font-weight: 500;
  padding-right: 100px;
}
.subscribe-form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
.subscribe-form input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
.subscribe-form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
.subscribe-form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
.subscribe-form input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.social__item:not(:last-child) {
  margin-right: 30px;
}
.social__link {
  display: block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.social__link--tw {
  background-image: url(../../img/twitter.png);
}
.social__link--fb {
  background-image: url(../../img/facebook.png);
}
.social__link--in {
  background-image: url(../../img/instagram.png);
}
.social__link--pin {
  background-image: url(../../img/pinterest.png);
}

.page__body {
  height: var(--vh);
}
/*# sourceMappingURL=main.css.map */