@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500;700&display=swap");
:root {
  --font-family: "Jost", sans-serif;
  --content-width: 1270px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --color-tundora: #030e73;
  --color-gray: #9b9898;
  --color-dark: #000;
  --color-white: #fff;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
  width: 100%;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.main-link {
  position: relative;
  font-size: 15px;
  color: var(--color-dark);
}
.main-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  -webkit-transition: width 0.15s;
  -o-transition: width 0.15s;
  transition: width 0.15s;
}
.main-link--white {
  color: var(--color-white);
}
.main-link:hover::before {
  width: 100%;
  -webkit-transition: width 0.15s;
  -o-transition: width 0.15s;
  transition: width 0.15s;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 20px;
}
.header__shop-nav {
  margin-left: 250px;
}

.logo {
  display: inline-block;
  width: 117px;
  height: 22px;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-page {
  padding-top: 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 40px;
}
.nav__link {
  position: relative;
}
.nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #000;
  -webkit-transition: width 0.15s;
  -o-transition: width 0.15s;
  transition: width 0.15s;
}
.nav__link:hover::before {
  width: 100%;
  -webkit-transition: width 0.15s;
  -o-transition: width 0.15s;
  transition: width 0.15s;
}
.nav__link--current::before {
  width: 100%;
  -webkit-transition: width 0.15s;
  -o-transition: width 0.15s;
  transition: width 0.15s;
}

.shop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.shop-nav__item:not(:last-child) {
  margin-right: 25px;
}
.shop-nav__link {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.shop-nav__link--user {
  background-image: url(../../img/user.png);
}

.cart {
  width: auto;
  height: auto;
}
.cart__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../img/bag.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cart__q {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 25px;
  padding: 3px 5px;
  font-weight: 700;
  font-size: 10px;
  height: 16px;
  color: bisque;
  background-color: #000;
}

.search-form__btn {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../img/search.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  position: relative;
  height: 100vh;
  min-height: 700px;
  background-color: #d9d9d7;
}
.hero__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 100px;
  height: 100%;
}
.hero__title {
  margin: 0;
  margin-bottom: 20px;
  max-width: 300px;
  font-weight: 700;
  font-size: 40px;
  z-index: 10;
}
.hero__d {
  margin: 0;
  max-width: 500px;
  font-weight: 500;
  font-size: 10px;
  z-index: 10;
}
.hero__image {
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 100%;
}

.banners__container {
  padding: 30px 0;
}
.banners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.banners__item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 33%;
}
.banners__item:not(:last-child) {
  margin-right: 0.5%;
}

.banners-article {
  padding: 40px 40px;
  padding-right: 45%;
  min-height: 290px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #a7a4a4;
}
.banners-article--mid {
  background-image: url(../../img/mid400.jpg);
}
.banners-article--summer {
  background-image: url(../../img/summer400.jpg);
}
.banners-article--accs {
  background-image: url(../../img/accs400.jpg);
}
.banners-article__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 26px;
}

.product__image {
  margin-bottom: 20px;
}
.product__image img {
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product__title {
  margin: 0;
  margin-bottom: 5px;
  color: darkslategray;
  font-size: 12px;
}
.product__price {
  margin: 0;
  color: rgb(25, 28, 28);
  font-size: 12px;
  font-weight: 700;
}

.main-products__container {
  padding: 30px 0;
}
.main-products__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}
.main-products__btn-center {
  text-align: center;
}
.main-products__item {
  margin: 0 15px;
}
.main-products__more {
  max-width: 170px;
  width: 100%;
  height: 41px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #626265;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-products__more:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #456577;
}
.main-products__btn {
  font-size: 18px;
}
.main-products__btn--current::before {
  width: 100%;
  -webkit-transition: width 0.15s;
  -o-transition: width 0.15s;
  transition: width 0.15s;
}

.products-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.products-grid__item {
  max-width: 234px;
  width: 100%;
  margin-right: 5px;
  margin-bottom: 80px;
}
.products-grid__item:nth-child(5n) {
  margin-right: 0px;
}
.products-grid__item:nth-last-child(-n+5) {
  margin-right: 0px;
}

.shop-banners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.shop-banner {
  padding-top: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  padding: 40px;
  min-height: 300px;
  color: var(--color-white);
  background-color: var(--color-dark);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.shop-banner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(128, 0, 0, 0.1);
}
.shop-banner--man {
  background-image: url(../../img/banner01.jpg);
}
.shop-banner--woman {
  background-image: url(../../img/banner02.jpg);
}

.free-delivery {
  position: relative;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: antiquewhite;
  background-color: #000;
}
.free-delivery__btn {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero-catalog {
  padding-top: 100px;
}
.hero-catalog__slider {
  overflow: hidden;
  width: 100%;
  background-color: #f8f8f8;
}

.catalog-slide {
  position: relative;
  padding: 100px 100px;
}
.catalog-slide__title {
  max-width: 375px;
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  z-index: 10;
}
.catalog-slide__d {
  margin: 0;
  margin-bottom: 40px;
  max-width: 400px;
  font-weight: 500;
  font-size: 10px;
  color: black;
  z-index: 10;
}
.catalog-slide__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
}
.catalog-slide__link {
  display: inline-block;
  font-size: 12px;
  padding: 15px 45px;
}
.catalog-slide__link--dark {
  border: 2px solid var(--color-dark);
  color: var(--color-white);
  background-color: var(--color-dark);
}
.catalog-slide__link--light {
  border: 2px solid var(--color-dark);
  color: var(--color-dark);
  background-color: transparent;
}
.catalog-slide__link:not(:last-child) {
  margin-right: 15px;
}
.catalog-slide__image {
  position: absolute;
  right: 15%;
  bottom: 0;
  max-height: 100%;
}

.hero-prev-btn,
.hero-next-btn {
  position: absolute;
  left: 30px;
  top: 50%;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid var(--color-dark);
  width: 48px;
  height: 48px;
  color: var(--color-dark);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.hero-prev-btn svg,
.hero-next-btn svg {
  width: 40px;
  height: 20px;
  fill: currentColor;
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}
.hero-prev-btn:hover,
.hero-next-btn:hover {
  background-color: var(--color-dark);
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.hero-prev-btn:hover svg,
.hero-next-btn:hover svg {
  fill: var(--color-white);
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}

.hero-next-btn {
  left: auto;
  right: 30px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 0;
  border-bottom: 2px solid #eee;
}
.breadcrumbs__item {
  position: relative;
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 30px;
}
.breadcrumbs__item::after {
  content: "/";
  position: absolute;
  right: -20px;
  top: 0;
}
.breadcrumbs__link {
  color: rgb(203, 216, 216);
}
.breadcrumbs__link--current {
  color: var(--color-dark);
}

.catalog-filters {
  padding-top: 30px;
  width: 259px;
  margin-right: 5px;
}

.catalog-content {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hide-filters {
  padding-top: 2px;
  padding-left: 25px;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  background-image: url(../../img/close.png);
  background-position: left center;
  background-repeat: no-repeat;
}

.catalog-filter {
  border-top: 2px solid #eee;
}
.catalog-filter__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.catalog-filter__title {
  margin: 0;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.catalog-filter__cap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.catalog-filter__q {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 25px;
  margin-left: 5px;
  padding: 4px 5px;
  font-weight: 700;
  font-size: 10px;
  height: 16px;
  width: 16px;
  color: bisque;
  background-color: #000;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
}
.catalog-filter--open .catalog-filter__bottom {
  display: block;
  padding-bottom: 30px;
}
.catalog-filter--open .catalog-filter__toggle::before {
  display: none;
}
.catalog-filter__items {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}
.catalog-filter__toggle {
  position: relative;
  width: 12px;
  height: 12px;
  color: #aaa;
}
.catalog-filter__toggle::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: currentColor;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.catalog-filter__toggle::after {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.custom-checkbox {
  display: inline-block;
  cursor: pointer;
}
.custom-checkbox__input {
  display: none;
}
.custom-checkbox__input:checked + span {
  color: #000;
}
.custom-checkbox__input:checked + span::after {
  content: "✓";
  position: absolute;
  left: 2px;
  top: 1px;
  display: inline-block;
}
.custom-checkbox__input:checked + span__text::before {
  border: 2px solid #000;
}
.custom-checkbox__text {
  position: relative;
  color: #aaa;
  font-size: 13px;
  padding-left: 15px;
}
.custom-checkbox__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 11px;
  height: 11px;
  border: 2px solid #aaa;
}
.custom-checkbox__text::after {
  content: "✓";
  position: absolute;
  left: 2px;
  top: 1px;
  display: none;
}

.catalog-grid {
  width: 987px;
  padding-top: 30px;
}
.catalog-grid__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

[data-grid-columns="3"] .catalog-grid__item {
  width: 31.3%;
}
[data-grid-columns="3"] .catalog-grid__item:not(:nth-child(3n)) {
  margin-right: 3%;
}
[data-grid-columns="3"] .catalog-grid__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

[data-grid-columns="4"] .catalog-grid__item {
  width: 22.7%;
}
[data-grid-columns="4"] .catalog-grid__item:not(:nth-child(4n)) {
  margin-right: 3%;
}
[data-grid-columns="4"] .catalog-grid__item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

[data-grid-columns="5"] .catalog-grid__item {
  width: 17.6%;
}
[data-grid-columns="5"] .catalog-grid__item:not(:nth-child(5n)) {
  margin-right: 3%;
}
[data-grid-columns="5"] .catalog-grid__item:nth-last-child(-n+5) {
  margin-bottom: 0;
}

.catalog-props__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
}
.catalog-columns__text {
  margin-right: 8px;
}
.catalog-columns__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.catalog-columns__item:not(:last-child) {
  margin-right: 10px;
}
.catalog-columns__btn {
  font-size: 12px;
  color: var(--color-gray);
}
.catalog-columns__btn:hover {
  color: var(--color-dark);
}
.catalog-columns__btn--current {
  color: var(--color-dark);
}

.custom-select {
  position: relative;
  min-width: 115px;
}
.custom-select__top {
  position: relative;
  border-bottom: 2px solid #eee;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-right: 10px;
}
.custom-select__top::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 30%;
  width: 10px;
  height: 6px;
  background-image: url(../../img/angle-down.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.custom-select__dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  width: 100%;
  padding: 5px;
  background-color: #fff;
}
.custom-select__item {
  cursor: pointer;
}
.custom-select__item:not(:last-child) {
  margin-bottom: 5px;
}
.custom-select:hover {
  color: var(--color-dark);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.custom-select--open .custom-select__top::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.custom-select--open .custom-select__dropdown {
  display: block;
}
.custom-select .catalog-choice {
  display: none;
  font-size: 0;
}
.custom-select .catalog-choice__item {
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px 14px;
  font-size: 13px;
  color: var(--color-gray);
  background-color: #eee;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.custom-select .catalog-choice__clear {
  position: relative;
  font-weight: 500;
  font-size: 13px;
}
.custom-select .catalog-choice img {
  margin-left: 5px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.pagination__item:not(:last-child) {
  margin-right: 10px;
}
.pagination__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  color: var(--color-gray);
  border: 2px solid #eee;
  height: 40px;
  padding: 0 16px;
}
.pagination__link:hover {
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  color: var(--color-white);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.pagination__link--current {
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  color: var(--color-white);
}
.pagination__link img {
  width: 5px;
  height: 9px;
  margin-left: 5px;
}

.card-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card-slider__thumb:not(:last-child) {
  margin-bottom: 10px;
}
.card-slider__main {
  margin-left: 10px;
}

.card {
  padding-top: 60px;
}

.card-content {
  padding-top: 20px;
}

.card-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card-top__left {
  width: 57%;
}
.card-top__right {
  padding-top: 30px;
  padding-left: 3%;
  width: 43%;
}

.card-info__prop {
  margin-bottom: 15px;
}
.card-info__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
}
.card-info__rate {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-gray);
}

.card-info__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.card-info__current {
  margin-right: 20px;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-dark);
}
.card-info__old {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-gray);
  text-decoration: line-through;
}
.card-info__descr {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 12px;
  color: var(--color-tundora);
}
.card-info__stepper {
  margin-bottom: 10px;
}
.card-info__btn {
  margin-bottom: 10px;
  width: 100%;
  height: 58px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--color-dark);
  background-color: #f2f2f2;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
.card-info__btn:hover {
  color: var(--color-white);
  background-color: var(--color-dark);
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
.card-info__btn--tocart {
  color: var(--color-white);
  background-color: var(--color-dark);
}
.card-info__btn--tocart:hover {
  color: var(--color-dark);
  background-color: #f2f2f2;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.color-select {
  margin-bottom: 10px;
}
.color-select__selected {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--color-gray);
}
.color-select__selected span {
  color: var(--color-dark);
}
.color-select__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 5px;
}
.color-select__item:not(:last-child) {
  margin-right: 10px;
}
.color-select__btn {
  position: relative;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.color-select__btn::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid grey;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.color-select__btn:hover::before {
  border: 2px solid black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.color-select__btn__btn--active::before {
  border: 2px solid black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.size-select {
  margin-bottom: 40px;
}
.size-select__selected {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--color-gray);
}
.size-select__selected span {
  color: var(--color-dark);
}
.size-select__clear {
  display: none;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  color: #d24242;
}
.size-select__clear img {
  margin-top: 2px;
  margin-right: 5px;
  width: 8px;
  height: 8px;
  color: currentColor;
}
.size-select__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 7px;
}
.size-select__item:not(:last-child) {
  margin-right: 5px;
}
.size-select__btn {
  position: relative;
  color: var(--color-gray);
  width: 40px;
  height: 30px;
  font-size: 12px;
  cursor: pointer;
}
.size-select__btn::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 15px;
  border: 2px solid grey;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.size-select__btn:hover {
  color: var(--color-dark);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.size-select__btn:hover::before {
  border: 2px solid black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.size-select__btn__btn--active::before {
  border: 2px solid black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.stepper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #ccc;
  height: 58px;
}
.stepper__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 44px;
  height: 100%;
}
.stepper__btn svg {
  display: block;
  width: 12px;
  height: 12px;
  fill: var(--color-gray);
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}
.stepper__btn:hover svg {
  fill: var(--color-dark);
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}
.stepper__btn--disabled {
  opacity: 0.4;
  pointer-events: none;
}
.stepper__input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: none;
  height: 100%;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-dark);
}

.card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}
.card-bottom span {
  color: var(--color-gray);
}

.footer__content {
  padding: 0 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 100px;
}
.footer__item:not(:last-child) {
  margin-bottom: 10px;
}
.footer__column:nth-child(1) {
  min-width: 250px;
}
.footer__column:nth-child(2) {
  min-width: 150px;
  margin-left: -50px;
}
.footer__link {
  color: rgb(30, 35, 35);
}
.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
.footer__form {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
}
.footer__list--row {
  font-weight: 500;
  font-size: 12px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__list--row .footer__item {
  margin-bottom: 0;
  color: black;
}
.footer__list--row .footer__item:not(:last-child) {
  margin-right: 30px;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 2px solid #eee;
  padding: 20px 0;
}
.footer__social {
  margin-right: 10px;
}

.subscribe-form {
  position: relative;
}
.subscribe-form__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
}
.subscribe-form__btn {
  position: absolute;
  right: 0;
  bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}
.subscribe-form__field {
  display: block;
  width: 100%;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
}
.subscribe-form input {
  width: 100%;
  border: none;
  font-size: 14px;
  font-weight: 500;
  padding-right: 100px;
}
.subscribe-form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
.subscribe-form input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
.subscribe-form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
.subscribe-form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
.subscribe-form input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.social__item:not(:last-child) {
  margin-right: 30px;
}
.social__link {
  display: block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.social__link--tw {
  background-image: url(../../img/twitter.png);
}
.social__link--fb {
  background-image: url(../../img/facebook.png);
}
.social__link--in {
  background-image: url(../../img/instagram.png);
}
.social__link--pin {
  background-image: url(../../img/pinterest.png);
}

.page__body {
  height: var(--vh);
}
/*# sourceMappingURL=main.css.map */