<section class="about-cont">
  <div class="container">
  <div class="about-grid ">
    <h1 class="about-grid__title">
      We are the best tecnology firm & Art design.
    </h1>
    <div class="about-grid__text">
      <article>
        <p>
          One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff.

Dictumst per ante cras suscipit nascetur ullamcorper in nullam fermentum condimentum torquent iaculis reden posuere potenti viverra condimentum dictumst id tellus suspendisse convallis condimentum.
        </p>
      </article>
    </div>
    <div class="about-grid__text">
      <p>
        His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table – Samsa was a travelling salesman.

The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. “What’s happened to me?” he thought. It wasn’t a dream.
      </p>
    </div>
  </div>
  <h1 class="contacts__title">The Founders</h1>
  <div class="founders-grid ">
  <img src="../img/f01.png" alt="../img/f01.png">
  <img src="../img/f02.png" alt="../img/f01.png">
  <img src="../img/f03.png" alt="../img/f01.png">
  <img src="../img/f04.png" alt="../img/f01.png">
  <img src="../img/f05.png" alt="../img/f01.png">
  <img src="../img/f06.png" alt="../img/f01.png">

  </div>
  <h1 class="contacts__title">Ours Awards</h1>
  <!-- <img class="award" src="../img/aw.jpg" alt="" > -->
  <div class="about-grid ">
   <div>
    <h6 class="award-title">Innovative Design Award 2017</h6>

    <h6 class="award-title">Clever Structure Award 2017</h6>

    <h6 class="award-title">Best Ingeneering Award 2017</h6>

    <h6 class="award-title">Iviroment Heart Award 2017</h6>

  </div>
   <div>
    <h6 class="award-title">Innovative Design Award 2017</h6>

    <h6 class="award-title">Clever Structure Award 2017</h6>

    <h6 class="award-title">Best Ingeneering Award 2017</h6>

    <h6 class="award-title">Iviroment Heart Award 2017</h6>

   </div>
   <div>
    <h6 class="award-title">Innovative Design Award 2017</h6>

    <h6 class="award-title">Clever Structure Award 2017</h6>

    <h6 class="award-title">Best Ingeneering Award 2017</h6>

    <h6 class="award-title">Iviroment Heart Award 2017</h6>

   </div>

  </div>
  <!-- <img class="award" src="../img/aw.png" alt="" > -->
  </div>
</section>
