<section class="about-cont">
  <!-- <div class="container"> -->
  <div class="about-grid ">
    <h1 class="about-grid__title">
      We are the best tecnology firm &<br> Art design.
    </h1>
    <div class="about-grid__text">
      <article>
        <p>
          One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff.

Dictumst per ante cras suscipit nascetur ullamcorper in nullam fermentum condimentum torquent iaculis reden posuere potenti viverra condimentum dictumst id tellus suspendisse convallis.
        </p>
      </article>
    </div>
    <div class="about-grid__text">
      <p>
        His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table – Samsa was a travelling salesman.

The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. “What’s happened to me?” he thought. It wasn’t a dream.
      </p>
    </div>
  </div>
  <h1 class="about-grid__title">Featured Services</h1>
  <div class="about-grid about-grid__white">
   <div class="about-grid__text">
    <h5 class="">We pride ourselves</h5>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda magni explicabo cupiditate laboriosam odio cumque suscipit similique amet pariatur tenetur aliquid itaque rem earum sequi, odit commodi libero quae quisquam!
    Similique incidunt quam iure. Dolor, corrupti inventore. Molestiae cupiditate eius aperiam tenetur ea maiores harum ipsam provident sapiente reprehenderit veniam est incidunt hic facilis, earum assumenda itaque. Modi, ullam nisi.
    </p>

  </div>
   <div class="about-grid__text">
    <h5 class="">We won many awards</h5>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nemo natus. Magnam tenetur quae alias quod voluptatibus veniam, labore animi in inventore nemo iure dicta cumque! Quibusdam ipsum ducimus quis.
    Ex saepe facere et esse similique asperiores fuga, ipsa reiciendis sit ipsum dolorum, veritatis quasi. Recusandae exercitationem nam cum iure dignissimos necessitatibus iusto facere similique earum? Et maiores tempore delectus.
    </p>

   </div>
   <div class="about-grid__text">
    <h5 class="">We are a team of genuis people</h5>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius nemo tenetur consectetur veniam quia molestias qui inventore sed. Veritatis, in nihil quae incidunt nobis distinctio ratione assumenda. Autem, fugiat incidunt?
    A voluptas accusantium eum ut. Ad minima, odit laborum temporibus soluta numquam sunt eos sapiente architecto tempore, cum deleniti blanditiis, nam at amet repellendus voluptatum quae ullam ducimus odio accusantium.
    </p>

   </div>

  </div>
  <h1 class="about-grid__title">The Founders</h1>
  <div class="founders-grid ">
  <img src="../img/f01.png" alt="../img/f01.png">
  <img src="../img/f02.png" alt="../img/f01.png">
  <img src="../img/f03.png" alt="../img/f01.png">
  <img src="../img/f06.png" alt="../img/f06.png">
  <img src="../img/f05.png" alt="../img/f01.png">
  <img src="../img/f04.png" alt="../img/f04.png">

  </div>
  <h1 class="about-grid__title">Awards Winnings</h1>

  <div class="about-grid04 about-grid__white">
   <div>
    <h6 class="award-title">Innovative Design Award 2017</h6>

    <h6 class="award-title">Clever Structure Award 2018</h6>

    <h6 class="award-title">Best Ingeneering Award 2019</h6>

    <h6 class="award-title">Iviroment Heart Award 2020</h6>

  </div>
   <div>
    <h6 class="award-title">Innovative Design Award 2017</h6>

    <h6 class="award-title">Clever Structure Award 2018</h6>

    <h6 class="award-title">Best Ingeneering Award 2019</h6>

    <h6 class="award-title">Iviroment Heart Award 2020</h6>

  </div>
   <div>
    <h6 class="award-title">Innovative Design Award 2021</h6>

    <h6 class="award-title">Clever Structure Award 2022</h6>

    <h6 class="award-title">Best Ingeneering Award 2023</h6>

    <h6 class="award-title">Iviroment Heart Award 2024</h6>

   </div>
   <div>
    <h6 class="award-title">Innovative Design Award 2025</h6>

    <h6 class="award-title">Clever Structure Award 2026</h6>

    <h6 class="award-title">Best Ingeneering Award 2027</h6>

    <h6 class="award-title">Iviroment Heart Award 2027</h6>

   </div>

  </div>
  <!-- <img class="award" src="../img/aw.png" alt="" > -->
  </div>
</section>
