
<section class="banners">
  <h2 class="visually-hidden">Banners</h2>
  <div class="container banners__container">
      <!-- <ul class="main-products__nav tabs__list"> -->
      <!-- <li class="main-products__item"><button  class="main-products__btn btn-reset  main-products__btn--current tabs__btn" data-tabs-path="main" data-filter="best-sellers">Ours best sellers</button></li> -->
      <!-- </ul> -->

      <div class="card-related__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <!-- <span class="product__sale">Sale</span> -->
                  <img src="img/prod04.jpg" alt="prod 4">
                </div>
                <span class="product-prop product__prop best">Best Seller</span>
                <h3 class="product__title">
                  <a href="#">
                    Eye Mesh Boat Shoes
                  </a>
                </h3>
                <div class="product-custom">
                  <div class="product-custom__price">
                    <span class="product__price">$220.00</span>
                    <span class="product__oldprice">$165.00</span>
                  </div>
                  <div class="product-custom__cart">
                    <button class="btn-reset to-cart">Add to wishlist</button>
                  </div>
                </div>

              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <!-- <span class="product__sale">Sale</span> -->
                  <img src="img/prod03.jpg" alt="prod 1">
                </div>
                <span class="product-prop product__prop best">Best Seller</span>
                <h3 class="product__title">
                  <a href="#">
                    Eye Mesh Boat Shoes
                  </a>
                </h3>
                 <div class="product-custom">
                  <div class="product-custom__price">
                    <span class="product__price">$220.00</span>
                    <span class="product__oldprice">$165.00</span>
                  </div>
                  <div class="product-custom__cart">
                    <button class="btn-reset to-cart">Add to wishlist</button>
                  </div>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">

                  <img src="img/prod02.jpg" alt="prod02">

                </div>
                <span class="product-prop product__prop best">Best Seller</span>
                <h3 class="product__title">
                  <a href="../card.html">
                    Eye Mesh Boat Shoes
                  </a>
                </h3>
                <div class="product-custom">
                  <div class="product-custom__price">
                    <span class="product__price">$220.00</span>
                    <span class="product__oldprice">$165.00</span>
                  </div>
                  <div class="product-custom__cart">
                    <button class="btn-reset to-cart">Add to wishlist</button>
                  </div>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <span class="product__sale">Sale</span>
                  <img src="img/prod08.jpg" alt="prod 1">
                </div>
                <span class="product-prop product__prop best">Best Seller</span>
                <h3 class="product__title">
                  <a href="../card.html">
                    Eye Mesh Boat Shoes
                  </a>
                </h3>
                  <div class="product-custom">
                  <div class="product-custom__price">
                    <span class="product__price">$220.00</span>
                    <span class="product__oldprice">$165.00</span>
                  </div>
                  <div class="product-custom__cart">
                    <button class="btn-reset to-cart">Add to wishlist</button>
                  </div>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <!-- <span class="product__sale">Sale</span> -->
                  <img src="img/prod09.jpg" alt="prod 1">
                </div>
                <span class="product-prop product__prop best">Best Seller</span>
                <h3 class="product__title">
                  <a href="../card.html">
                    Eye Mesh Boat Shoes
                  </a>
                </h3>
                  <div class="product-custom">
                  <div class="product-custom__price">
                    <span class="product__price">$220.00</span>
                    <span class="product__oldprice">$165.00</span>
                  </div>
                  <div class="product-custom__cart">
                    <button class="btn-reset to-cart">Add to wishlist</button>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="swiper-pagination related-pag"></div>
        </div>
  </div>
</section>
