
<section class="banners">
  <h2 class="visually-hidden">Banners</h2>
  <div class="container banners__container">


      <div class="card-related__slider">

          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">

                  <img src="img/prod11.png" alt="img/prod11.png">
                </div>
                <span class="product-prop product__prop best">Best Seller</span>
                <h3 class="product__title">
                  <a href="#">
                    Eye Mesh Boat Shoes
                  </a>
                </h3>
                <div class="product-custom">
                  <div class="product-custom__price">
                    <span class="product__price">$165.00</span>
                    <span class="product__oldprice">$220.00</span>
                  </div>
                  <div class="product-custom__cart">
                    <button class="btn-reset to-cart">Add to wishlist</button>
                  </div>
                </div>

              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">

                  <img src="img/prod12.png" alt="prod 1">
                </div>
                <span class="product-prop product__prop best">Best Seller</span>
                <h3 class="product__title">
                  <a href="#">
                    Eye Mesh Boat Shoes
                  </a>
                </h3>
                 <div class="product-custom">
                  <div class="product-custom__price">
                    <span class="product__price">$220.00</span>
                    <span class="product__oldprice">$165.00</span>
                  </div>
                  <div class="product-custom__cart">
                    <button class="btn-reset to-cart">Add to wishlist</button>
                  </div>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">

                  <img src="img/m6.png" alt="prod02">

                </div>
                <span class="product-prop product__prop best">Best Seller</span>
                <h3 class="product__title">
                  <a href="../card.html">
                    Eye Mesh Boat Shoes
                  </a>
                </h3>
                <div class="product-custom">
                  <div class="product-custom__price">
                    <span class="product__price">$220.00</span>
                    <span class="product__oldprice">$165.00</span>
                  </div>
                  <div class="product-custom__cart">
                    <button class="btn-reset to-cart">Add to wishlist</button>
                  </div>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <span class="product__sale">Sale</span>
                  <img src="img/prod14.png" alt="prod 1">
                </div>
                <span class="product-prop product__prop best">Best Seller</span>
                <h3 class="product__title">
                  <a href="../card.html">
                    Eye Mesh Boat Shoes
                  </a>
                </h3>
                  <div class="product-custom">
                  <div class="product-custom__price">
                    <span class="product__price">$220.00</span>
                    <span class="product__oldprice">$165.00</span>
                  </div>
                  <div class="product-custom__cart">
                    <button class="btn-reset to-cart">Add to wishlist</button>
                  </div>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">

                  <img src="img/prod15.png" alt="prod 1">
                </div>
                <span class="product-prop product__prop best">Best Seller</span>
                <h3 class="product__title">
                  <a href="../card.html">
                    Eye Mesh Boat Shoes
                  </a>
                </h3>
                  <div class="product-custom">
                  <div class="product-custom__price">
                    <span class="product__price">$220.00</span>
                    <span class="product__oldprice">$165.00</span>
                  </div>
                  <div class="product-custom__cart">
                    <button class="btn-reset to-cart">Add to wishlist</button>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="swiper-pagination related-pag"></div>
      </div>
      </div>
      <!-- </div> -->
</section>
