<section class="cabinet">
  <script>
    function changeLink(e) {
      document.getElementById('myAnchor').innerHTML = e;

    }
  </script>
   <div class=" container-narrow">
      <h1 class="cabinet__title" id="myAnchor">Addresses</h1>
  </div>
  <div class=" container">
     <section class="card-tabs">
      <div class="container">
        <div class="tabs-wrapper">
          <div class="tabs card__tab-box">
            <a class="tab card-tabs" href="#tab-1" onclick="changeLink('Dashboard')">Dashboard</a>
            <a class="tab card-tabs" href="#tab-2" onclick="changeLink('Orders')">Orders</a>
            <a class="tab card-tabs" href="#tab-3" onclick="changeLink('Downloads')">Downloads</a>
            <a class="tab card-tabs tab--active" href="#tab-4" onclick="changeLink('Addresses')">Addresses</a>
            <a class="tab card-tabs" href="#tab-5" onclick="changeLink('Account Details')">Account Details</a>
            <a class="tab card-tabs" href="#tab-6" onclick="changeLink('Wishlist')">Wishlist</a>
            <a class="tab card-tabs" href="#tab-7" onclick="changeLink('Logout')">Logout</a>
          </div>

          <div class="tabs-container">
            <div id="tab-1" class="card__tab-content tab-content">
              content100
            </div>
            <div id="tab-2" class="card__tab-content tab-content">
              content200
            </div>
            <div id="tab-3" class="card__tab-content tab-content">
              content300
            </div>
            <div
              id="tab-4"
              class="card__tab-content tab-content tab-content--active"
            >
              <form>
                <div class="card__top-line">
                  <label class="card__label-search" for="">
                    Магазин
                    <input class="card__input-search" type="text" />
                  </label>
                  <label class="card__label-p" for="">
                    <input type="radio" name="pickup" />
                    Забрать сегодня
                  </label>
                  <label class="card__label-p" for="">
                    <input type="radio" name="pickup" checked />
                    Забрать в течение недели
                  </label>
                </div>
                <ul class="card__list">
                  <li class="card__list-item card__list-item--title">
                    <div class="card__list-address card__list-address--title">
                      Адрес
                    </div>
                    <div class="card__list-work card__list-work--title">
                      Режим работы
                    </div>
                    <div class="card__list-a card__list-a--title">Доступно</div>
                    <div class="card__list-n card__list-n--title">
                      Количество
                    </div>
                    <div class="card__list-btn card__list-b--title">
                      <button type="submit">Купить</button>
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">Москва, ул. Науки 25</div>
                    <div class="card__list-work">
                      <div class="work">
                        <span>пн-сб:</span> <span>08:00-19:00</span>
                      </div>
                      <div class="work">
                        <span>вс:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <span>09:00-17:00</span>
                      </div>
                    </div>
                    <div class="card__list-a">В наличии</div>
                    <div class="card__list-n">1</div>
                    <div class="card__list-btn">
                      <button type="submit">Купить</button>
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">Москва, ул. Южная 134</div>
                    <div class="card__list-work">
                      <span>пн-сб: 08:00-19:00</span>
                      <span>вс: 09:00-17:00</span>
                    </div>
                    <div class="card__list-a">В наличии</div>
                    <div class="card__list-n">2</div>
                    <div class="card__list-btn">
                      <button type="submit">Купить</button>
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">
                      Санкт-Петербург,<br />
                      ул. Красная 19
                    </div>
                    <div class="card__list-work">
                      <span>пн-сб: 08:00-19:00</span>
                      <span>вс: 09:00-17:00</span>
                    </div>
                    <div class="card__list-a">Нет в наличии</div>
                    <div class="card__list-n"></div>
                    <div class="card__list-btn">
                      <button type="submit">Купить</button>
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">Киев, ул Шевченко 167</div>
                    <div class="card__list-work">
                      <span>пн-сб: 08:00-19:00</span>
                      <span>вс: 09:00-17:00</span>
                    </div>
                    <div class="card__list-a">Нет в наличии</div>
                    <div class="card__list-n"></div>
                    <div class="card__list-btn">
                      <button type="submit">Купить</button>
                    </div>
                  </li>
                </ul>
              </form>
            </div>
            <div id="tab-5" class="card__tab-content tab-content">
               <div class=" container">
    <h3 class="contacts__title">Edit Account</h3>
    <p class="contacts__subtitle">Get in touch with us</p>

    <section class="container contact-grid">
      <div class="contact-grid__content">
        <h3 class="contacts__title">Send Us a Message</h3>
        <p class="contacts__subtitle">
          Have some suggestions or just want to say hi.<br />
          Contact Us.
        </p>
      </div>
      <form class="contacts__form">
         <form action="#">
        <input
          class="contacts__input"
          type="text"
          id="fname"
          name="firstname"
          placeholder="Your name"
        />
        <input
          class="contacts__input"
          type="text"
          id="femail"
          name="firstemail"
          placeholder="Your email"
        />
        <textarea
          class="contacts__input"
          id="subject"
          name="subject"
          placeholder="Your Message"
          style="height: 90px; width: 100%"
        ></textarea>

        <input class="contacts__submit" type="submit" value="Send" />
        </form>
      </form>
    </section>
    <h3 class="contacts__title">Contact Information</h3>

    <div class="footer__top">
      <div class="footer__column">
        <div>
          <h5>Melbourn office</h5>
          <div class="about-grid__address">
            <img class="about-grid__image" src="../img/map-point.png" alt="" />
            <span>Little Bridht 45, Melbourne</span>
          </div>

          <div class="about-grid__tel">
            <img class="about-grid__image" src="../img/smart.png" alt="" />
            <span>8-999-852-58-21</span>
          </div>

          <div class="about-grid__email">
            <img class="about-grid__image" src="../img/email.png" alt="" />
            <span>olegrewko@gmail.com</span>
          </div>
        </div>
      </div>
      <div class="footer__column">
        <div>
          <h5>Sidney office</h5>
          <div class="about-grid__address">
            <img class="about-grid__image" src="../img/map-point.png" alt="" />
            <span>Little Bridht 45, Melbourne</span>
          </div>

          <div class="about-grid__tel">
            <img class="about-grid__image" src="../img/smart.png" alt="" />
            <span>8-999-852-58-21</span>
          </div>

          <div class="about-grid__email">
            <img class="about-grid__image" src="../img/email.png" alt="" />
            <span>olegrewko@gmail.com</span>
          </div>
        </div>
      </div>
      <div class="footer__column">
        <div>
          <h5>Opening hours</h5>
          <div class="about-grid__hours">
            <span>Monday-Friday</span>
            <span>10.00-20.00</span>
          </div>
          <div class="about-grid__hours">
            <span>Saturday</span>
            <span>10.00-18.00</span>
          </div>
          <div class="about-grid__hours">
            <span>Sunday</span>
            <span>Closed</span>
          </div>
        </div>
      </div>
    </div>
  </div>

            </div>
            <div id="tab-6" class="card__tab-content tab-content">
                <form>
                <!-- <div class="card__top-line">
                  <label class="card__label-search" for="">
                    Магазин
                    <input class="card__input-search" type="text" />
                  </label>
                  <label class="card__label-p" for="">
                    <input type="radio" name="pickup" />
                    Забрать сегодня
                  </label>
                  <label class="card__label-p" for="">
                    <input type="radio" name="pickup" checked />
                    Забрать в течение недели
                  </label>
                </div> -->
                <ul class="card__list">
                  <li class="card__list-item card__list-item--title">
                    <div class="card__list-address card__list-address--title">
                      Product
                    </div>
                    <div class="card__list-work card__list-work--title">
                      Description
                    </div>
                    <div class="card__list-a card__list-a--title">
                      Price
                    </div>
                    <div class="card__list-n card__list-n--title">
                      Status
                    </div>
                    <div class="card__list-a card__list-b--title">
                      <!-- Cart -->
                    </div>
                    <div class="card__list-n card__list-b--title">
                      <!--  -->
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">
                     <img src="../img/prod15.png" alt="../img/prod01.jpg" />
                    </div>
                    <div class="card__list-work">

                        <h3 class="product__title">Eye Mesh Boat Shoes</h3>
                     </div>
                    <div class="card__list-a">
                        <span class="product__price">$220.0</span>
                    </div>


                    <div class="card__list-n">1</div>
                    <div class="card__list-a card__list-btn">
                    <!-- <div class="card__list-btn"> -->
                      <button type="submit">Add to cart</button>
                    <!-- </div> -->
                    </div>
                    <div class="card__list-n">
                      <img src="../img/close.png" alt="../img/close16.png" />
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">
                     <img src="../img/prod14.png" alt="../img/prod14.jpg" />
                    </div>
                    <div class="card__list-work">
                      <h3 class="product__title">Eye Mesh Boat Shoes</h3>
                    </div>
                    <div class="card__list-a">
                      <span class="product__price">$220.0</span>
                    </div>
                    <div class="card__list-n">
                      3
                    </div>
                    <div class="card__list-a card__list-btn">
                      <button type="submit">Add to cart</button>
                    </div>
                    <div class="card__list-n">
                      <img src="../img/close.png" alt="../img/close16.png" />
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">
                      <img src="../img/prod12.png" alt="../img/prod02.jpg" />
                    </div>
                    <div class="card__list-work">
                     <h3 class="product__title">Eye Mesh Boat Shoes</h3>
                    </div>
                      <div class="card__list-a">
                      <span class="product__price">$220.0</span>
                    </div>
                    <div class="card__list-n">
                      3
                    </div>
                    <div class="card__list-a card__list-btn">
                      <button type="submit">Add to cart</button>
                    </div>
                    <div class="card__list-n">
                      <img src="../img/close.png" alt="../img/close16.png" />
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">
                      <img src="../img/prod11.png" alt="../img/prod02.jpg" />
                    </div>
                    <div class="card__list-work">
                      <h3 class="product__title">Eye Mesh Boat Shoes</h3>
                    </div>
                    <div class="card__list-a">
                      <span class="product__price">$220.0</span>
                    </div>
                    <div class="card__list-n">
                      3
                    </div>
                    <div class="card__list-a card__list-btn">
                      <button type="submit">Add to cart</button>
                    </div>
                    <div class="card__list-n">
                      <img src="../img/close.png" alt="../img/close16.png" />
                    </div>
                  </li>
                </ul>
              </form>
            </div>
            <div id="tab-7" class="card__tab-content tab-content">
                <form>
                <div class="card__top-line">
                  <label class="card__label-search" for="">
                    Магазин
                    <input class="card__input-search" type="text" />
                  </label>
                  <label class="card__label-p" for="">
                    <input type="radio" name="pickup" />
                    Забрать сегодня
                  </label>
                  <label class="card__label-p" for="">
                    <input type="radio" name="pickup" checked />
                    Забрать в течение недели
                  </label>
                </div>
                <ul class="card__list">
                  <li class="card__list-item card__list-item--title">
                    <div class="card__list-address card__list-address--title">
                      Адрес
                    </div>
                    <div class="card__list-work card__list-work--title">
                      Режим работы
                    </div>
                    <div class="card__list-a card__list-a--title">Доступно</div>
                    <div class="card__list-n card__list-n--title">
                      Количество
                    </div>
                    <div class="card__list-btn card__list-b--title">
                      <button type="submit">Купить</button>
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">Москва, ул. Науки 25</div>
                    <div class="card__list-work">
                      <div class="work">
                        <span>пн-сб:</span> <span>08:00-19:00</span>
                      </div>
                      <div class="work">
                        <span>вс:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <span>09:00-17:00</span>
                      </div>
                    </div>
                    <div class="card__list-a">В наличии</div>
                    <div class="card__list-n">1</div>
                    <div class="card__list-btn">
                      <button type="submit">Купить</button>
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">Москва, ул. Южная 134</div>
                    <div class="card__list-work">
                      <span>пн-сб: 08:00-19:00</span>
                      <span>вс: 09:00-17:00</span>
                    </div>
                    <div class="card__list-a">В наличии</div>
                    <div class="card__list-n">2</div>
                    <div class="card__list-btn">
                      <button type="submit">Купить</button>
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">
                      Санкт-Петербург,<br />
                      ул. Красная 19
                    </div>
                    <div class="card__list-work">
                      <span>пн-сб: 08:00-19:00</span>
                      <span>вс: 09:00-17:00</span>
                    </div>
                    <div class="card__list-a">Нет в наличии</div>
                    <div class="card__list-n"></div>
                    <div class="card__list-btn">
                      <button type="submit">Купить</button>
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">Киев, ул Шевченко 167</div>
                    <div class="card__list-work">
                      <span>пн-сб: 08:00-19:00</span>
                      <span>вс: 09:00-17:00</span>
                    </div>
                    <div class="card__list-a">Нет в наличии</div>
                    <div class="card__list-n"></div>
                    <div class="card__list-btn">
                      <button type="submit">Купить</button>
                    </div>
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


</section>
