<div class="catalog-filters">
  <!-- <div class="container"> -->
  <button class="hide-filters btn-reset">
    Hide filters
  </button>
  <div class="catalog-filter catalog-filter--open">
    <div class="catalog-filter__top">
      <div class="catalog-filter__cap">
      <h3 class="catalog-filter__title">Categories</h3>
      <span class="catalog-filter__q">3</span>
      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__items">
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">All categories</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Accessories</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Dresses</span>
          </label>
        </li>
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Coats</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Clothes</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">T-short</span>
          </label>
        </li>
            <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Summer</span>
          </label>
        </li>
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Shirts</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Jacket</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Short</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">
    <div class="catalog-filter__top">
      <div class="catalog-filter__cap">
      <h3 class="catalog-filter__title">Color</h3>
      <span class="catalog-filter__q">5</span>
      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__items">
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input  visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--blue">Blue</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--red">Red</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--orange">Orange</span>
          </label>
        </li>
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--green">Green</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--white">White</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--black">Black</span>
          </label>
        </li>
            <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--brown">Brown</span>
          </label>
        </li>
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--purple">Purple</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--grey">Grey</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--maroon">Maroon</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
<!-- </div> -->
</div>
