<div class="catalog-grid">
  <div class="container container-narrow">
  <div class="catalog-grid__props catalog-props">
    <div class="catalog-props__top">
      <div class="catalog-props__columns catalog-columns">
         <span class="catalog-columns__text">Column number</span>
         <ul class="catalog-columns__list">
          <li class="catalog-columns__item" ><button class="btn-reset main-link catalog-columns__btn" data-columns="3">3</button></li>
          <li class="catalog-columns__item" ><button class="btn-reset main-link catalog-columns__btn" data-columns="4">
            4</button></li>
            <li class="catalog-columns__item" ><button class="btn-reset main-link catalog-columns__btn catalog-columns__btn--current" data-columns="5">5</button></li>

        </ul>
       </div>
      <div class="custom-select">
        <div class="custom-select__top">Sort by latest</div>
        <div class="custom-select__dropdown">
          <ul class="custom-select__list">
            <li class="custom-select__item">Sort by latest</li>
            <li class="custom-select__item">Sort by price</li>
            <li class="custom-select__item">Sort by smth</li>
          </ul>
        </div>
      </div>
    </div>
   <div class="catalog-props__choice catalog-choice">
      <button class="btn-reset catalog-choice__clear">Clear all</button>
    </div>
  </div>
  <ul class="catalog-grid__content">
    <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod01.jpg" alt="../img/prod01.jpg">
          </div>
          <h3 class="product__title">
            <a href="../card.html">
            Eye Mesh Boat Shoes
            </a>
          </h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod02.jpg" alt="../img/prod02.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
      <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod03.jpg" alt="../img/prod03.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod04.jpg" alt="../img/prod04.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
       <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod05.jpg" alt="../img/prod05.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod06.jpg" alt="../img/prod01.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod07.jpg" alt="../img/prod02.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
      <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod08.jpg" alt="../img/prod03.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod09.jpg" alt="../img/prod04.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
       <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod10.jpg" alt="../img/prod05.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod11.png" alt="../img/prod11.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod12.png" alt="../img/prod02.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
      <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod09.jpg" alt="../img/prod09.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod14.png" alt="../img/prod04.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
       <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod15.png" alt="../img/prod15.png">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
  </ul>
  <!-- <ul class="pagination">
    <li class="pagination__item"><a href="#" class="pagination__link pagination__link--current">1</a></li>
    <li class="pagination__item"><a href="#" class="pagination__link">2</a></li>
    <li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
    <li class="pagination__item">
      <a href="#" class="pagination__link">
        Next
        <img src="../img/angle-right.png" alt="">
      </a></li>
  </ul> -->
 </div>
 <div class="pagination-wrapper">
   <ul class="pagination">
    <li class="pagination__item"><a href="#" class="pagination__link pagination__link--current">1</a></li>
    <li class="pagination__item"><a href="#" class="pagination__link">2</a></li>
    <li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
    <li class="pagination__item">
      <a href="#" class="pagination__link">
        Next
        <img src="../img/angle-right.png" alt="">
      </a></li>
  </ul>
</div>
</div>
