<div class="catalog-filters">

  <button class="hide-filters btn-reset">
    Hide filters
  </button>
  <div class="catalog-filter catalog-filter--open">
    <div class="catalog-filter__top">
      <div class="catalog-filter__caption">
      <h3 class="catalog-filter__title">Categories</h3>
      <span class="catalog-filter__quantity quantity">0</span>
      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__items">
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">All categories</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Accessories</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Dresses</span>
          </label>
        </li>
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Coats</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Clothes</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">T-short</span>
          </label>
        </li>
            <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Summer</span>
          </label>
        </li>
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Shirts</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Jacket</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Short</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">
    <div class="catalog-filter__top">
      <div class="catalog-filter__caption">
      <h3 class="catalog-filter__title">Color</h3>
      <span class="catalog-filter__quantity quantity">0</span>
      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__items">
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input  visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--blue">Blue</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--red">Red</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--orange">Orange</span>
          </label>
        </li>
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--green">Green</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--white">White</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--black">Black</span>
          </label>
        </li>
            <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--brown">Brown</span>
          </label>
        </li>
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--purple">Purple</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--grey">Grey</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--maroon">Maroon</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">
    <div class="catalog-filter__top">
      <div class="catalog-filter__caption">
      <h3 class="catalog-filter__title">Size</h3>
      <span class="catalog-filter__quantity quantity">0</span>
      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">

        <table class="sizes-table">

            <tbody>
              <tr>
                <td>35</td>
                <td>36</td>
                <td>37</td>
              </tr>
              <tr>
                <td>38</td>
                <td>39</td>
                <td>40</td>
              </tr>
              <tr>
                <td>41</td>
                <td>42</td>
                <td>43</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
  <div class="catalog-filter">
    <div class="catalog-filter__top">
      <div class="catalog-filter__caption">
      <h3 class="catalog-filter__title">Size</h3>

      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">
              <div class="card-info__select size-select">
          <p class="size-select__selected">Size: <span>Select a size</span></p>
          <ul class="size-select__list">
            <li class="size-select__item">
              <button
                class="size-select__btn btn-reset"
                aria-label="Choice 23 size"
              >
                23
              </button>
            </li>
            <li class="size-select__item">
              <button
                class="size-select__btn btn-reset"
                aria-label="Choice 24 size"
              >
                24
              </button>
            </li>
            <li class="size-select__item">
              <button
                class="size-select__btn btn-reset"
                aria-label="Choice 25 size"
              >
                25
              </button>
            </li>
            <li class="size-select__item">
              <button
                class="size-select__btn btn-reset"
                aria-label="Choice 26 size"
              >
                26
              </button>
            </li>
            <li class="size-select__item">
              <button
                class="size-select__btn btn-reset"
                aria-label="Choice 27 size"
              >
                27
              </button>
            </li>
            <li class="size-select__item">
              <button
                class="size-select__btn btn-reset"
                aria-label="Choice 28 size"
              >
                28
              </button>
            </li>
            <li class="size-select__item">
              <button
                class="size-select__btn btn-reset"
                aria-label="Choice 29 size"
              >
                29
              </button>
            </li>
            <li class="size-select__item">
              <button
                class="size-select__btn btn-reset"
                aria-label="Choice 30 size"
              >
                30
              </button>
            </li>
          </ul>
          <button class="btn-reset size-select__clear">
            <img src="../img/close.png" alt="../img/close.png" />

            clear
          </button>
        </div>
    </div>
  </div>

</div>
