<section class="hero">
  <div class="container hero__container">
    <h1 class="visually-hidden">Zonex-best shop</h1>
    <!-- <div class="banner-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
            <h2 class="hero__title">Fall-Winter Clearance Sales</h2>
            <p class="hero__d">Fall-Winter Clearance Sales / Zonex-best shop</p>
            <img class="hero__image"  src="../img/svg/girl.png" alt="girl.png">
        </div>
        <div class="swiper-slide">
          <h2 class="hero__title">Fall-Winter Clearance Sales</h2>
          <p class="hero__d">Fall-Winter Clearance Sales / Zonex-best shop</p>
          <img class="hero__image"  src="../img/svg/girl.png" alt="girl.png">
        </div>
        <div class="swiper-slide">
          <h2 class="hero__title">Fall-Winter Clearance Sales</h2>
          <p class="hero__d">Fall-Winter Clearance Sales / Zonex-best shop</p>
          <img class="hero__image"  src="../img/svg/girl.png" alt="girl.png">
        </div>
      </div> -->
       <h2 class="hero__title">Fall-Winter Clearance Sales</h2>
          <p class="hero__d">Fall-Winter Clearance Sales / Zonex-best shop</p>
          <img class="hero__image"  src="../img/svg/girl.png" alt="girl.png">
    </div>


  </div>
</section>
