<section class="hero">
  <div class="container hero-catalog__container ">
    <!-- <h1 class="visually-hidden">Zonex-best shop</h1> -->
    <div class="hero-catalog__slider">
      <button class="hero-prev-btn btn-reset">
        <svg class="">
          <use xlink:href="img/sprite.svg#prev-arrow"></use>
        </svg>
      </button>
      <button class="hero-next-btn btn-reset">
        <svg class="">
          <use xlink:href="img/sprite.svg#next-arrow"></use>
        </svg>
      </button>
      <div class="swiper-wrapper">
        <div class=" swiper-slide">
          <div class="hero catalog-slide">
        <h2 class="catalog-slide__title">Fall-Winter Clearance Sales</h2>
          <p class="catalog-slide__descr">Fall-Winter Clearance Sales / Zonex-best shop</p>
            <!-- <div class="catalog-slide__btns ">
              <a href="#" class="catalog-slide__link catalog-slide__link--dark">Discovery</a>
              <a href="#" class="catalog-slide__link catalog-slide__link--light">Shop now</a>
            </div> -->
            <img class="catalog-slide__image"  src="../img/two600.png" alt="two600.png">
          </div>
        </div>
         <div class=" swiper-slide">
          <div class="hero catalog-slide">
          <h2 class="catalog-slide__title">Fall-Winter Clearance Sales</h2>
          <p class="catalog-slide__descr">Fall-Winter Clearance Sales / Zonex-best shop</p>
            <!-- <div class="catalog-slide__btns ">
              <a href="#" class="catalog-slide__link catalog-slide__link--dark">Discovery</a>
              <a href="#" class="catalog-slide__link catalog-slide__link--light">Shop now</a>
            </div> -->
            <img class="catalog-slide__image"  src="../img/girl600.png" alt="girl600.png">
          </div>
        </div>
         <!-- <div class="swiper-slide">
          <div class="catalog-slide">
         <h2 class="hero__title">Fall-Winter Clearance Sales</h2>
          <p class="hero__d">Fall-Winter Clearance Sales / Zonex-best shop</p>
            <div class="catalog-slide__btns">
              <a href="#" class="catalog-slide__link catalog-slide__link--dark">Discovery</a>
              <a href="#" class="catalog-slide__link catalog-slide__link--light">Shop now</a>
            </div>
            <img class="catalog-slide__image"  src="../img/card-main-not-fone.png" alt="card-main-not-fone.png">
          </div>
        </div> -->
      </div>
      <!-- <div class="swiper-pagination hero-pag"></div> -->
      <!-- <div class="swiper-pagination related-pag"></div> -->
    </div>
       <!-- <div class="banner-slider">

      <div class="swiper-wrapper">

        <div class="swiper-slide">
        <div class="banner-slide">
          <h2 class="hero__title">Fall-Winter Clearance Sales</h2>
          <p class="hero__d">Fall-Winter Clearance Sales / Zonex-best shop</p>
          <img class="hero__image"  src="../img/girl-blue.png" alt="girl-blue.png">
        </div>
        </div>
        <div class="swiper-slide">
        <div class="banner-slide">
          <h2 class="hero__title">Fall-Winter Clearance Sales</h2>
          <p class="hero__d">Fall-Winter Clearance Sales / Zonex-best shop</p>
          <img class="hero__image"  src="../img/girl2.png" alt="girl2.png">
        </div>
        </div>
      </div>
      <div class="swiper-pagination hero-pag"></div>

      </div> -->


  </div>
</section>
