<section class="main-products">
  <h2 class="visually-hidden">Main-products</h2>
  <div class="container main-products__container">
    <ul class="main-products__nav">
      <li class="main-products__item"><button class="main-products__btn btn-reset main-link main-products__btn--current" data-filter="best-sellers">Best products</button></li>
      <li class="main-products__item"><button class="main-products__btn btn-reset main-link" data-filter="new-products">New products</button></li>
      <li class="main-products__item"><button class="main-products__btn btn-reset main-link" data-filter="sale-products">Sale products</button></li>
    </ul>

    <ul class="main-products__list products-grid">
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod01.jpg" alt="../img/prod01.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod02.jpg" alt="../img/prod02.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod03.jpg" alt="../img/prod03.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod04.jpg" alt="../img/prod04.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
       <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod05.jpg" alt="../img/prod05.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod06.jpg" alt="../img/prod01.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod07.jpg" alt="../img/prod02.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod08.jpg" alt="../img/prod03.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod09.jpg" alt="../img/prod04.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
       <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod10.jpg" alt="../img/prod05.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>

    </ul>
    <div class="main-products__btn-center">
      <button class="btn-reset main-products__more">Load more</button>
    </div>
  </div>
</section>
